.bg-color {
  background: #f5f5f5;
}

/* -----------------------------------------------------------------------------------------
 ----------------------------------- PRODUCT BOX -------------------------------------------
 ------------------------------------------------------------------------------------------- */

.produkt {
  height: 12rem;
  width: 8rem;
  background: #f5f5f5;
  padding: 0.5rem;
  margin: 1rem;
  box-shadow:
    2.4px 2.4px 3.2px #6e6e6e1a,
    -9px -9px 10px 2px #ffffff80;
  border-radius: 0.5rem;
}

.produkt h4 {
  margin: 0;
  text-align: center;
  padding: 0.25rem;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 400;
}

.produkt p {
  margin: 0;
  text-align: center;
  padding: 0.25rem;
  font-weight: 600;
}

.produkt button {
  border-style: none;
  background: transparent;
}

.addera svg {
  fill: #00a900;
  height: 1.5rem;
  width: 1.5rem;
}

.substrahera svg {
  fill: #a80000;
  height: 1.5rem;
  width: 1.5rem;
}

img {
  max-height: 7rem;
}

h2 {
  text-align: center;
}

/* ---------------------------------------------------------------------------------------
---------------------------------------- MENU ---------------------------------------------
---------------------------------------------------------------------------------------- */
.dropdown-menu {
  background-color: black;
  border: none;
  box-shadow: none;
}

.button-style {
  background-color: #262626;
  color: #fff;
  font-size: 25px;
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}

.dropdown-item {
  color: #fff;
  padding: 20px;
  font-size: 25px;
}

.dropdown-item:hover {
  background-color: #fff;
}

.dropdown-toggle::after {
  display: none;
}

#dropdown-icon {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.dropdown-toggle[aria-expanded="true"] #dropdown-icon {
  transform: rotate(180deg);
}

/* ----------------------------------------------------------------------------------------
------------------------------------ PRODUCT GRID -----------------------------------------
---------------------------------------------------------------------------------------- */

#dryck-container,
#snacks-container,
#mellanmal-container,
#senaste-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 1px;
}

/* -------------------------------------------------------------------------------------------- */
header {
  height: 5rem;
}

header h1 {
  text-align: center;
  margin: 0.5rem;
}

body {
  font-family: Arial, sans-serif;
}

section div {
  display: flex;
  justify-content: space-evenly;
}

.back-button {
  background-color: #f8f9fa;
  color: #000;
  padding: 0;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #e2e6ea;
}

.betalning {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 8px #0000001a;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.dolj-kvitto {
  display: none;
}

.kvitto-dropdown {
  display: block;
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.betalningsruta {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 500px) {
  .header-container h1 {
    font-size: 24px;
  }
}

.accordion {
  display: block;
}

.accordion-item {
  display: block;
}

.senaste-container {
  padding: 50%;
}

#senaste-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  padding: 10px;
}

#dryck-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  padding: 10px;
}

#snacks-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  padding: 10px;
}

#mellanmal-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  padding: 10px;
}
